@model IEnumerable<Service>

@{
    ViewData["Title"] = "كل الخدمات  ";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    var error = (TempData["Error"]!=null)? TempData["Error"] : null ;  
    var success = (TempData["Success"]!=null)? TempData["Success"] : null ;
}
<div class="row">
    <div class="col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title" >الخدمات </h3>
                @if (error != null)
                {
                    <div style="text-align: center;" class="alert alert-danger" role="alert">
                        @error
                    </div>
                }
                @if (success != null)
                {
                    <div style="text-align: center;" class="alert alert-success" role="alert">
                        @success
                    </div>
                }
            </div>
            <div class="table-responsive" style="padding: 1.5rem; overflow-x: inherit;">
                <table class="table mb-0 table-borderless" id="table_id">
                    <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.TitleAr)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.MainSection)
                        </th>
                        <th>
                           التحكم 
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var item in Model) {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.TitleAr)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.MainSection.TitleAr)
                            </td>

                                <td>
                                    <div class="item-action dropdown">
                                        <a href="javascript:void(0)" data-bs-toggle="dropdown" class="icon"><i class="fe fe-more-vertical fs-20 text-dark"></i></a>
                                        <div class="dropdown-menu dropdown-menu-end">

                                            <a asp-action="Edit" asp-route-id="@item.Id" class="dropdown-item btn btn-warning">تعديل</a>
                                            <a asp-action="Details" asp-route-id="@item.Id" class="dropdown-item btn btn-info">تفاصيل</a>
                                            <a asp-action="Delete" asp-route-id="@item.Id" style="margin: 0.3rem" class="btn btn-danger dropdown-item" onclick="return confirm('هل أنت متأكد من الحذف ؟ ');">حذف </a>

                                        </div>
                                    </div>
                                </td>
                            
                          
                          
                            


                       
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    
    <script>
         $(document).ready( function () {
                $('#table_id').DataTable( {
                     paging: true,
                     ordering:  false,
                     "pagingType": "simple_numbers",
                     "lengthMenu": [ 5, 20, 75, 100 ] ,
                     "oLanguage": {
                                   "sSearch": "البحث"
                                  }
                } );
        } );
 

    </script>
}

